
*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url(../IMÁGENES/background.png) ;
    color:#415c4c;
    font-family:"Didact Gothic", sans-serif;
}
.img-menu{
    display: none;
}
.menu{
    display: none;
    list-style: none;
}
.essentia{
    height: 80px;
    width: 300px;
    background-color: #edeaea;
}
.relleno{
    padding: 25px;
    color: #edeaea;
}
nav{
    background-color: #edeaea;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 100px 0px black;
    position: fixed;
}
.botones{
    
    height: 60px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    top: 20px;

}
.panel:hover{
    background-color:#c4d8cb;
    color: white;
    text-shadow: 1px 1px #9e9e9e;
    transform: scale(1.1);
}

.panel{
    font-family:"Didact Gothic", sans-serif;
    padding: 7px;
    margin-bottom: 30px;
    border-radius: 5px;
    border-color: #cdcdcd;
    margin: 10px;
    border: 1px solid #cdcdcd7a;
    color: #33493c;
    text-decoration: none;
    font-size: 16px;
    width: 140px;  
    text-align: center;
}

#presentacion{
    margin-top: 0;
}
#carrusel{
    width:300%;
    height: 400px;
    display: flex;
    list-style: none;
    animation: img 12s infinite alternate;
    overflow: hidden !important;
    animation-delay: 1s;
}
.carrusel{
    width: 400px;
    height: 400px;
    margin: 3px;
}
@keyframes img{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(-650px);
    }
}

#servicios{
    margin-top: 100px;
}

p{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 70px;
}

h4{
    font-size: 30px;
    margin-bottom: 12px;
}
h5{
    text-align: center;
    font-size: larger;
}

h3{
    font-family: "Ephesis", cursive; 
    text-align: center;
    font-size: 4rem;
    color: #33493c;
    margin-top: 120px;
}

.display{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap; 
}

.contenedor:hover{
    background-color: #c4d8cb;
    background-image: url(./IMÁGENES/hola\ si\ \(1\).svg);
    color: white;
    text-shadow: 2px 2px #33493c;
    transform: scale(1.1);
}
.contenedor{
    text-align: center;
    overflow: hidden;
    height:400px ;
    width: 250px;
    margin: 20px;
    box-shadow: 0px 10px 15px #94a39a;
    display: blo;
}
.info{
    position: absolute;
    text-overflow: initial;
    color: #33493c;
    text-shadow: none;
    text-align: center;

}

.img-srv{
    height: 350px;
    transition: all 500ms ease-out;
}
.img-srv:hover{
    opacity: 0;
}
li{
    color: #415c4c;
    font-size: 20px;
}
.install{
    margin-left: 80px;
    margin-top: 20px;

}
.icono{
    height: 60px;
    width: 60px;
    display: block;
    padding-top: 25px;
    padding-bottom: 10px;
    margin-left: 20px;
}
.redes{
    background-color: #33493c;
    display: flex;
    height: 150px;
    justify-content: space-evenly;
    align-items: center;
}
.contacts:hover{
    box-shadow: 2px 3px 10px #4d6b5a;
    border: 1px solid #33493c;
}
.contacts{
    color: #33493c;
    text-decoration: none;
    background-color:#e0ece4;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px;
    font-family:"Didact Gothic", sans-serif;
    text-align: center;
    margin: 0;
    width: 100px;
    margin-left: 20px;
}
#checkbox:checked + .menu{
    display: flex;

}
#checkbox{
    display: none;
}


iframe{
    width: 100%;
}

@media (max-width:900px ){
    nav{
        width: 100%;
        flex-wrap: wrap;
        height: fit-content;
    }
    .img-menu{
        display: block;
        width: 30px;
        margin-top: 34px ;
        margin-right: 10px;
    }
    .menu{
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: end;
        gap: 20px;
    }
    .relleno{
        margin-bottom: 20px;
    }

    .botones{
        display: none;
    }

    .essentia{
        width: 250px;
        height: 70px;
        padding-top: 10px;
    }
    #presentacion{
        font-size: 18px;
        margin-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
    }
    #carrusel{
        width: 100%;
        animation:none;
    }
    #servicios{
        margin-top: 40px;
    }
    h3{
        font-size: 50px;
    }
    h4{
        font-size: 22px;
        margin-top: 12px;
    }
    p{
        margin-bottom: 30px;
        font-size: 20px
    }
    li{
        font-size: 18px;
    }
    .contenedor{
        height: 300px;
        width: 180px;
    }
    .img-srv{
        height: 280px;
    }
    .icono{
        height: 30px;
        width: 30px;
    }
    .redes{
        height: 100px;
        padding-bottom:30px;
    }
    @keyframes img{
        0%{
            transform: translate(0);
        }
        100%{
            transform: translate(-1000px);
        }
    }
    iframe{
        height: 200px;
    }
    section{
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .contacts{
        font-size: 13px;
    }
}